* {
    box-sizing: border-box;
    padding: 0px;
    margin-top: 0px;
  ;
}

/* || Header  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  padding-left: 0px;
  background-color: rgb(53, 51, 51);
}
 
.navbar h1{
  background-color: aquamarine;
  font-size: 25px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
 
}
.navbar nav a{
  color:aquamarine;
  background-color: rgb(53, 51, 51);
  padding: 5px;
  padding-bottom: 2px;
  border-bottom: 2px solid aquamarine;
  text-decoration: none;
}
.hero {
  height: 80px;
  margin-bottom: -5px;
  Position: relative;
  background-color: lightgrey
}
.hero img {
  height: 100%;
  width: 100%;
}
.hero h2{
  position: absolute;
  bottom: 10px;
  right: 30px;
  background-color: aquamarine;
  padding: 5px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .hero, .navbar {   
    flex-direction: column;
  }
}

/* || Body  */
.outer{
  background-size: cover;
  background-color: lightgrey;
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 5px;
  padding: 10px;
  margin: 10px;
} 

.content-flex-item {
    justify-content: space-evenly;
    background-color: lightgray;
    flex-grow: 2;
    gap: 20px;
    padding-left: 20px;
}

#headshot {
  padding-left: 30px;
  height: 100px;
}

.aside-flex-item {
  min-width: 120px;
  max-width: 120px;
  text-align: right;
  padding-right: 30px;
  border-right: black 2px solid;
  font-weight: bold;
}


.content-flex-box {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-content: center;
  justify-content: flex-start;
} 

#Horiseon {
  border-style: solid;
  border-color: aquamarine;
  border-width: 5px;
  height: 200px;
  width: 400px;
  object-fit: cover;
}

/* Bottom left text */
.text-block {
  position: absolute;
  bottom: 15px;
  left: 0px;
  color: rgb(53, 51, 51);;
  padding-left: 20px;
  padding-right: 20px;
  background-color: aquamarine;
}

#other-img  {
  border-style: solid;
  border-color: aquamarine;
  border-width: 5px;
  height: 100px;
  width: 200px;
  object-fit: cover;
}

.container {
  position: relative;
  justify-content: space-evenly;
}


/* .footer {
  flex: 1;
  grid-template-rows: auto 1fr auto;
  height: 10px;
  margin: 0;
  padding: 20px;
}

.list-inline  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 500px;
}

#list-inline-item  {
  list-style-type: none;
  word-spacing: 100px;
} */

  /* display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-evenly;
  text-align:start;
  align-items: stretch;
  align-self: center;
  bottom: 0;
  left: 0px;
  height: 60px;
  margin: 20px; */









